# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Temporary data & media outputs
temp/
*_Censored.*
*.wav
*.mp4
*.mkv
*.avi
*.srt

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
